<aside class="container-fluid py-2 h-100  text-light">
  <div class="row h-100">
    <div class="col p-2 ">
      <!-- Top Section -->
      <div class="row h-25">
        <div class="mb-3 p-2 rounded bg-dark">
          <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
              <a href="#" class="nav-link text-info fw-bold text-truncate">
                <i class="fa-solid fa-rss me-2"></i> My Feed
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-info text-truncate">
                <i class="fa-solid fa-tags me-2"></i> Topics
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-info text-truncate">
                <i class="fa-solid fa-comments me-2"></i> Rooms
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Bottom Section -->
      <div class="row h-75">
        <div class="col px-0 py-2  bg-danger">
          <div class="rounded bg-dark h-100">
            <a href="#" class=" nav-link text-info fw-bold text-truncate">
              <i class="fa-solid fa-bookmark me-2"></i> My Libraries
            </a>
            <ul class="nav nav-pills flex-column mb-auto">
              <li class=" col-12 nav-item">
                <a href="#" class="m-3 nav-link text-info fw-bold text-truncate">
                  <i class="fa-solid fa-bookmark me-2"></i> My Libraries
                </a>
              </li>
              <li class=" col-12 nav-item">
                <a href="#" class="m-3 nav-link text-info fw-bold text-truncate">
                  <i class="fa-solid fa-bookmark me-2"></i> My Libraries
                </a>
              </li>
              <li class=" col-12 nav-item">
                <a href="#" class="m-3 nav-link text-info fw-bold text-truncate">
                  <i class="fa-solid fa-bookmark me-2"></i> My Libraries
                </a>
              </li>



            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</aside>